/*---------LARGE DEVICES-------*/
@media all and (max-width: 992px){
	h1{
		font-size: 1.7em;
	}
	#menu_navigation{
		width: 40%;
	}
	#slider{
		height: 370px;
	}
	#slider_text{
		top: 135px;
		left: 80px;
	}
	#button{
		font-size: 1em;
		padding: 0.2em 0.5em;
	}
	#slider_chevron_left{
		bottom: 175px;
	}
	#slider_circle_left{
		font-size: 4.5em;
	}
	#arrow_left{
		font-size: 1.7em;
		left: 1.7em;
	}
	#slider_chevron_right{
		bottom: 175px;
	}
	#slider_circle_right{
		font-size: 4.5em;
	}
	#arrow_right{
		font-size: 1.7em;
		right: 1.7em;
	}
	#services{
		width: 100%;
	}
	#nav_portfolio{
		width: 35%;
	}
	.album_item_overlay_text h3{
		font-size: 0.75em;
	}
	.album_item_overlay_text{
		position: relative;
		top: 5px;
	}
	.icon_eye{
		font-size: 0.6em;
		padding: 8px 8px;
		right: 6px;
	}
}

/*-------------TABLETS--------------*/
@media all and (max-width: 768px){
	h1{
		margin-top: 10px;
		font-size: 1.4em;
		margin-bottom: 30px;
	}
	#menu_navigation{
		width: 46%;
	}
	#slider{
		height: 300px;
	}
	#slider_text{
		width: 48%;
		top: 100px;
		left: 45px;
	}
	#slider_text p{
		display: none;
	}
	#slider_chevron_left, #slider_chevron_right{
		display: none;
	}
	#services_bottom_part{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#services_image{
		max-width: 365px;
	}
	#bottom_right_part{
		margin-top: 30px;
		width: 80%;
	}
	#projets{
		margin-top: 100px;
	}
	#nav_portfolio{
		width: 50%;
	}
	.album_item{
		width: 40%;
	}
	.album_item_overlay_text h3{
		font-size: 0.9em;
	}
	.album_item_overlay_text p{
		font-size: 0.8em;
	}
	.icon_eye{
		font-size: 0.8em;
		padding: 10px 10px;
	}
}

/*-------------MOBILES--------------*/
@media all and (max-width: 576px){
	#menu_navigation{
		display: none;
	}
	#menu_hamburger{
		display: block;
	}
	#nav_menu_hamburger{
		display: none;
	}
	#menu_hamburger:hover #hamburger_icon{
		display: none;
	}
	#menu_hamburger:hover #nav_menu_hamburger{
		display: block;
	}
	#slider{
		position: relative;
		top: 80px;
		margin-bottom: 60px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#slider_img_large{
		display: none;
	}
	#slider_img_small{
		display: inline;
		width: 100%;
		transform: translateY(5px);
	}
	#slider_text{
		position: relative;
		top: 0;
		left: 0;
		width: 80%;
		text-align: center;
		margin-top: 20px;
	}
	#slider_text h1{
		color: #000;
	}
	#slider_text p{
		display: none;
	}
	#button:hover{
		color: #70abcf;
		background-color: transparent;
	}
	#services_top_part{
		width: 70%;
	}
	#services_bottom_part{
		top: 20px;
	}
	#services_image{
		max-width: 310px;
	}
	#bottom_right_part{
		width: 90%;
		flex-direction: column;
	}
	.services_description{
		flex-direction: column;
		align-items: center;
		margin-bottom: 44px;
	}
	.services_description_text{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.services_description_text p{
		text-align: center;
	}
	#ux_design_circle, #ui_design_circle, #seo_circle{
		top: -25px;
		left: 70px;
	}
	#nav_portfolio{
		width: 90%;
	}
	.album_item{
		width: 65%;
	}
	.album_item_overlay_text h3{
		font-size: 0.8em;
	}
	.album_item_overlay_text p{
		font-size: 0.75em;
	}
	.icon_eye{
		right: 6px;
		font-size: 0.7em;
	}
	#contact_form{
		position: initial;
		width: 100%;
		background-color: rgba(88,139,170,0.1);
		margin-top: 10px;
	}
	#map{
		margin-top: 10px;
		height: 50%;
	}
	#mask{
		position: absolute;
		top: 490px;
		height: 25%;
	}
}





